@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  font-family: Rubik, Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36bf7f;
}

a:hover,
a:focus {
  color: #d96666;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* PORTOLIO CSS */
:root {
  --font-h1: 1.802rem;
  --font-h2: 1.602rem;
  --font-h3: 1.424rem;
  --font-h4: 1.266rem;
  --font-h5: 1.125rem;
  --font-h6: 1rem;
  --font-small: 0.889rem;

  /* colors */
  --color-purple-darker: hsl(244, 75%, 38%);
  --color-purple-dark: hsl(244, 75%, 48%);
  --color-purple: hsl(244, 75%, 58%);
  --color-purple-light: hsl(244, 75%, 68%);
  --color-purple-lighter: hsl(244, 75%, 78%);

  --color-bg: hsl(210, 11%, 15%);
  --color-bg-light: hsl(210, 11%, 35%);

  --color-gray-darker: hsl(215, 16%, 27%);
  --color-gray-dark: hsl(215, 16%, 37%);
  --color-gray: hsl(215, 16%, 47%);
  --color-gray-light: hsl(215, 16%, 57%);
  --color-gray-lighter: hsl(215, 16%, 67%);

  --text-color-dark: hsl(215, 16%, 17%);
  --text-color-light: hsl(215, 16%, 87%);

  --text-color-light-hover: hsl(8, 65%, 50%);
  --text-color-dark-hover: hsl(55, 65%, 51%);

  --text-accent-1: hsl(55, 65%, 51%);

  --color-yellow-darker: hsl(55, 65%, 31%);
  --color-yellow-dark: hsl(55, 65%, 41%);
  --color-yellow: hsl(55, 65%, 51%);
  --color-yellow-light: hsl(55, 65%, 61%);
  --color-yellow-lighter: hsl(55, 65%, 71%);

  --img-max-height: 12rem;

  --shadow-1: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.267);
}

.text-light {
  color: var(--text-color-light);
}

.text-dark {
  color: var(--text-color-dark);
}

.text-accent {
  color: var(--text-accent-1);
}

.link-light {
  color: var(--text-color-light);
  text-decoration: none;
}

.link-light:hover,
.link-light:focus-visible {
  color: var(--text-color-dark-hover);
}

.link-dark {
  color: var(--text-color-light);
}

.bi {
  margin-right: 0.5rem;
}

.link-dark:hover,
.link-dark:focus-visible {
}

body {
  background-color: #fff;
  color: var(--color-gray-lighter);
}

img {
  width: 100%;
}

.container {
  max-width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.shadow-1 {
  box-shadow: 0 1rem 0.5rem #0007;
}

.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #394a59;
  border: 0.125rem solid #394a59;
  color: #fff;
  border-radius: 0.25em;
  text-decoration: none;

  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: #597f8d;
  border-color: #597f8d;
}

.btn--secondary {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
  color: var(--text-color-dark);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: var(--color-yellow-light);
  border-color: var(--color-yellow-light);
  color: var(--text-color-dark);
}

.btn--large {
  font-size: 1.15rem;
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-color: #000;
  /* margin-top: 4rem; */
}

.banner .container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background-color: #000; */
}

.banner__content {
  width: min(35em, 100%);
  text-align: center;
}

.banner__title {
  font-size: var(--font-h2);
  line-height: 1.3;
  color: var(--text-accent-1);
  text-align: center;
}

.banner__text {
  font-size: var(--font-h5);
  color: #fff;
}

.masthead {
  padding: 1rem 0;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 0.125em solid black;
}

.masthead .container {
  display: flex;
  justify-content: space-between;
}

.masthead .logo {
  letter-spacing: 0.0625rem;
}

.masthead nav {
  position: fixed;
  top: 0;
  right: -70.6666%;
  width: 66.6666vw;
  height: 100vh;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--color-bg-light);
  transition: right 0.2s, top 0.2s;
}

.masthead nav.open {
  right: 0;
}

.masthead nav ul {
  padding: 6rem 1rem;
  text-align: right;
  margin: 0;
  list-style-type: none;
}

.masthead nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.masthead nav a {
  display: block;
  font-size: 1.25rem;
}

.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.nav-toggle .tog {
  width: 100%;
  height: 0.25rem;
  background-color: var(--text-color-light);
  position: relative;
  transition: top 0.2s, bottom 0.2s, opacity 0.2s, transform 0.2s;
}
.tog.top {
  top: 0;
}

.tog.bottom {
  bottom: 0;
}

.open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open .middle {
  opacity: 0;
}

.open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.click-to-close.open {
  opacity: 1;
  pointer-events: all;
}

/* Card view */

/* - - - - - - - - - - Cards - - - - - - - - - - */

.card__group {
  margin: 4rem auto;
}

.row {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__group .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-dark);
  margin: 0 auto;
}

.row-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

.card {
  /* border: 1px solid orangered; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--text-color-dark);
  height: 100%;
  box-shadow: var(--shadow-1);
}

.card__group__header {
  font-size: var(--font-h2);
  margin-top: 4rem;
}

.card img {
  max-height: var(--img-max-height);
  width: auto;
  align-self: center;
  /* text-align: center; */
}

.card__title {
  margin-top: 2rem;
  font-size: var(--font-h5);
  font-weight: bold;
}

.card__content {
  /* flex: 1; */
  text-align: center;
}

.copy,
.privacy {
  font-size: var(--font-small);
}

/* footer */

.footer {
  margin-top: 3rem;
  padding: 1rem 0;

  background-color: #212529;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .nav__container {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: var(--font-small);
}

.footer .logo {
  font-size: var(--font-small);
}

.footer .disclaimer {
  font-size: var(--font-small);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  /* margin-right: auto; */
  font-size: var(--font-small);
}

/* CONTACT FORM ELEMENTS */
.contact--wrapper {
  /* height: 80vh; */
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.contact--wrapper .container {
  /* background-color: orange; */
  width: 100%;
}
.contact__form {
  background-color: var(--color-gray-dark);
  /* background-color: var(--color-purple-lighter); */

  color: var(--text-color-light);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border: 0.125rem solid var(--color-gray-dark);
  border-radius: 0.25em;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* min-width:/ 100%; */
  /* height: 100%; */

  margin-left: 0;
  margin-right: 0;
}

.contact__form h2 {
  color: var(--color-yellow);
}

.contact__form__fieldset {
  display: flex;
  flex-direction: column;

  /* gap: 0.25rem; */
}

.contact__form__field {
  padding: 0.5rem;
  /* color: var(--color-gray-light); */
}

@media only screen and (min-width: 45em) {
  :root {
    --font-h1: 2.488rem;
    --font-h2: 2.074rem;
    --font-h3: 1.728rem;
    --font-h4: 1.44rem;
    --font-h5: 1.2rem;
    --font-h6: 1rem;
    --font-small: 0.833rem;
    --img-max-height: 14rem;
  }
  .nav-toggle {
    display: none;
  }

  .masthead nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: auto;
    background-color: transparent;
  }

  .masthead nav ul {
    display: flex;
    padding: 0;
  }

  .masthead nav li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .masthead nav a {
    display: block;
    font-size: 1rem;
  }

  .row-cards {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    gap: 1rem;
    row-gap: 2rem;
  }

  .col {
    /* padding-top: 1rem; */
  }
}

@media only screen and (min-width: 60em) {
  :root {
    --font-h1: 3.052rem;
    --font-h2: 2.441rem;
    --font-h3: 1.953rem;
    --font-h4: 1.563rem;
    --font-h5: 1.25rem;
    --font-h6: 1rem;
    --font-small: 0.8rem;
    /* --img-max-height: 10rem; */
    --img-max-height: 20rem;
  }
  .row-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
