@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
  // Colors ------------------------------
  --color-white: #fbf4f4;
  --color-dark-1: hsl(210, 11%, 15%);
  --color-dark-2: hsl(210, 11%, 35%);
  --color-light-1: hsl(60, 20%, 98%);

  --color-gray-darker: hsl(215, 16%, 27%);
  --color-gray-dark: hsl(215, 16%, 37%);
  --color-gray: hsl(215, 16%, 47%);
  --color-gray-light: hsl(215, 16%, 57%);
  --color-gray-lighter: hsl(215, 16%, 67%);

  --text-color-dark: hsl(215, 16%, 14%);
  --text-color-light: hsl(213, 30%, 93%);
  --text-color-hover-1: hsl(8, 65%, 50%);
  --text-color-hover-2: hsl(53, 100%, 50%);

  --color-yellow: hsl(53, 100%, 50%);

  --img-max-height: 12rem;

  --shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.267);
  --transition: 0.1s;
  --radius: 0.25em;
}
