@use "sass:map";

.footer {
  background-color: $color-dark-1;
  color: $color-white;
  padding: 1rem 0;
  margin-top: 3rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__container {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    @include sm {
      font-size: map.get($fonts-small, "small");
    }
    @include md {
      font-size: map.get($fonts-medium, "small");
    }
    @include lg {
      font-size: map.get($fonts-large, "small");
    }
  }
  .logo {
    @include sm {
      font-size: map.get($fonts-small, "small");
    }
    @include md {
      font-size: map.get($fonts-medium, "small");
    }
    @include lg {
      font-size: map.get($fonts-large, "small");
    }
  }
  .disclaimer {
    @include sm {
      font-size: map.get($fonts-small, "small");
    }
    @include md {
      font-size: map.get($fonts-medium, "small");
    }
    @include lg {
      font-size: map.get($fonts-large, "small");
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.copy,
.privacy,
.copyright {
  @include sm {
    font-size: map.get($fonts-small, "small");
  }
  @include md {
    font-size: map.get($fonts-medium, "small");
  }
  @include lg {
    font-size: map.get($fonts-large, "small");
  }
}
