@use "sass:map";

.masthead {
  padding: 1rem 0;
  background-color: $color-dark-1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 0.125em solid #000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    letter-spacing: 0.0625rem;

    @include sm {
      font-size: map.get($fonts-small, "h4");
    }
    @include md {
      font-size: map.get($fonts-medium, "h4");
    }
    @include lg {
      font-size: map.get($fonts-large, "h4");
    }
  }

  nav {
    position: fixed;
    top: 0;
    right: -66vw;
    width: 66vw;
    height: 100vh;

    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: $color-dark-2;
    transition: right 0.2s, top 0.2s;

    @include md {
      position: static;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      box-shadow: none;
      z-index: auto;
      background-color: transparent;
    }

    a {
      display: block;
      text-decoration: none;

      @include sm {
        font-size: map.get($fonts-small, "h3");
      }
      @include md {
        font-size: map.get($fonts-medium, "h6");
        display: block;
      }
      @include lg {
        font-size: map.get($fonts-large, "h6");
      }
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &.open {
      right: 0;
    }

    ul {
      padding: 6rem 1rem;
      text-align: right;
      margin: 0;
      list-style-type: none;

      @include md {
        display: flex;
        padding: 0;
      }

      li:not(:last-child) {
        margin-bottom: 2rem;
        @include md {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }
  }

  // .btn {
  //   font-size: 1.5rem;
  // }
}
