.masthead {
  padding: 1rem 0;
  background-color: $color__primary;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition:
      opacity $transition;

    &.logo:hover,
    &.logo:focus {
      opacity: .5;
    }

  }

  .logo h1,
  .logo strong {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.125rem 0.1875rem 0.25rem rgba(0, 0, 0, .15);
    background-color: $color__primary--dark;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity $transition;
    
    &.open {
      opacity: 1;
      pointer-events: all;
    }

    ul {
      padding: 6rem 1rem;
      text-align: center;
      margin: 0;
      list-style-type: none;

      li:not(:last-child) {
        margin-bottom: 1rem;
      }

      a {
        display: block;
        @include heading3;
        &[aria-current="page"],
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

    }

  }

  .btn {
    font-size: 1.5rem;
  }

  // @media only screen and (min-width: 65em) {

  //   nav {
  //     position: static;
  //     top: auto;
  //     left: auto;
  //     width: auto;
  //     height: auto;
  //     box-shadow: none;
  //     z-index: auto;
  //     background-color: transparent;
  //     opacity: 1;
  //     pointer-events: all;
  
  //     ul {
  //       display: flex;
  //       padding: 0;
  
  //       li:not(:last-child) {
  //         margin-bottom: 0;
  //         margin-right: 2rem;
  //       }

  //       a {
  //         font-size: 1rem;
  //       }
  
  //     }
  
  //   }
  
  // }

}