.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-image:
    linear-gradient(to bottom, #0007, #0007),
    url('../images/hero.jpg');
  @include bgImage;
  text-align: center;

  &__headline {
    border: 0;
    color: #fff;
    @include heading1;
    margin: 0;
  }

  &__byline {
    color: #fff;
    @include heading4;
  }

}