.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include md {
    display: none;
  }
  @include lg {
    display: none;
  }

  .tog {
    width: 100%;
    height: 0.25rem;
    background-color: $color-yellow;
    position: relative;
    transition: top $transition, bottom $transition, opacity $transition,
      transform $transition;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }

  &.open .top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &.open .middle {
    opacity: 0;
  }

  &.open .bottom {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  // @media only screen and (min-width: 65em) {

  //   display: none;

  // }
}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity $transition;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  // @media only screen and (min-width: 65em) {

  //   display: none;

  // }
}
