.box {
  padding: 1.5rem;
  border-radius: $radius;
  background-color: $color__primary;

  h2 {
    margin: 0;
    color: #fff;
  }
}

@media only screen and (min-width: 25em) {
  .box {
    background-color: $color__accent-1;
  }
}

@media only screen and (min-width: 38em) {
  .box {
    background-color: $color__accent-2;
  }
}

@media only screen and (min-width: 60em) {
  .box {
    background-color: $color__accent-3;
  }
}

@media only screen and (min-width: 90em) {
  .box {
    background-color: $color__accent-4;
  }
}

.cards-review {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;

    // grid version
    // display: grid;
    // grid-template-columns: 1fr;

    // @include medium {
    //   grid-template-columns: repeat(3, 1fr);
    // }
  }

  .card {
    // flex option 1
    flex: 1 1 15rem;

    // flex option 2
    // width: 100%;
    // @include medium {
    //   width: calc(33.333% - 1rem);
    // }

    // grid option require no css on the .card to affect the column sizing!

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__content {
      flex-grow: 1;
    }
  }
}
