@use "sass:math";

@function fontScale($scale, $step) {

  $font-size: 1rem;

  @for $i from 1 through $step {
    $font-size: $font-size * $scale;
  }

  $font-size: math.div(ceil($font-size * 1000), 1000);

  @return $font-size;

}

$colors: (
  'primary': $color__primary,
  'accent-1': $color__accent-1,
  'accent-2': $color__accent-2,
  'accent-3': $color__accent-3,
  'accent-4': $color__accent-4,
  'accent-5': $color__accent-5,
  'accent-6': $color__accent-6,
  'accent-7': $color__accent-7,
  'accent-8': $color__accent-8,
  'error': $color__error,
  'alert': $color__alert
);

$classes: (
  'text': color,
  'bg': background-color,
  'border': border-color
);

@each $className, $classValue in $classes {
  @each $colorName, $colorValue in $colors {

    .#{$className}-#{$colorName} {
      #{$classValue}: $colorValue;
    }

  }
}