@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-jb {
  justify-content: space-between;
}

@mixin sm {
  @content;
}

@mixin md {
  @media only screen and (min-width: 45em) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 60em) {
    @content;
  }
}
