// Colors ------------------------------
$color__primary: var(--color-primary);
$color__primary-pale: var(--color-primary-pale);
$color__primary--light: var(--color-primary-light);
$color__primary--dark: var(--color-primary-dark);
$color__accent-1: var(--color-accent-1);
$color__accent-1--light: var(--color-accent-1-light);
$color__accent-2: var(--color-accent-2);
$color__accent-2--light: var(--color-accent-2-light);
$color__accent-3: var(--color-accent-3);
$color__accent-3--light: var(--color-accent-3-light);
$color__accent-4: var(--color-accent-4);
$color__accent-4--light: var(--color-accent-4-light);
$color__accent-5: var(--color-accent-5);
$color__accent-5--light: var(--color-accent-5-light);
$color__accent-6: var(--color-accent-6);
$color__accent-6--light: var(--color-accent-6-light);
$color__accent-7: var(--color-accent-7);
$color__accent-7--light: var(--color-accent-7-light);
$color__accent-8: var(--color-accent-8);
$color__accent-8--light: var(--color-accent-8-light);
$color__alert: var(--color-alert);
$color__alert--dark: var(--color-alert-dark);
$color__alert--light: var(--color-alert-light);
$color__error: var(--color-error);
$color__error--dark: var(--color-error-dark);
$color__error--light: var(--color-error-light);

// Reusable Style ------------------------------
$transition: var(--transition);
$radius: var(--radius);
$shadow: var(--shadow);
$shadow-large: var(--shadow-large);