// Colors ------------------------------
$color__primary: var(--color-primary);
$color__primary-pale: var(--color-primary-pale);
$color__primary--light: var(--color-primary-light);
$color__primary--dark: var(--color-primary-dark);
$color__accent-1: var(--color-accent-1);
$color__accent-1--light: var(--color-accent-1-light);
$color__accent-2: var(--color-accent-2);
$color__accent-2--light: var(--color-accent-2-light);
$color__accent-3: var(--color-accent-3);
$color__accent-3--light: var(--color-accent-3-light);
$color__accent-4: var(--color-accent-4);
$color__accent-4--light: var(--color-accent-4-light);
$color__accent-5: var(--color-accent-5);
$color__accent-5--light: var(--color-accent-5-light);
$color__accent-6: var(--color-accent-6);
$color__accent-6--light: var(--color-accent-6-light);
$color__accent-7: var(--color-accent-7);
$color__accent-7--light: var(--color-accent-7-light);
$color__accent-8: var(--color-accent-8);
$color__accent-8--light: var(--color-accent-8-light);
$color__alert: var(--color-alert);
$color__alert--dark: var(--color-alert-dark);
$color__alert--light: var(--color-alert-light);
$color__error: var(--color-error);
$color__error--dark: var(--color-error-dark);
$color__error--light: var(--color-error-light);

// Reusable Style ------------------------------

$font-h1: var(--font-h1);
$font-h2: var(--font-h2);
$font-h3: var(--font-h3);
$font-h4: var(--font-h4);
$font-h5: var(--font-h5);
$font-h6: var(--font-h6);

$transition: var(--transition);
$radius: var(--radius);
$shadow: var(--shadow);
$shadow-large: var(--shadow-large);

$color-white: var(--color-white);
$color-dark-1: var(--color-dark-1);

$color-dark-2: var(--color-dark-2);
$color-light-1: var(--color-light-1);

$color-gray-darker: var(--color-gray-darker);

$color-gray-dark: var(--color-gray-dark);
$color-gray: var(--color-gray);
$color-gray-light: var(--color-gray-light);
$color-gray-lighter: var(--color-gray-lighter);

$text-color-dark: var(--text-color-dark);

$text-color-light: var(--text-color-light);
$text-color-hover-1: var(--text-color-hover-1);
$text-color-hover-2: var(--text-color-hover-2);
$color-yellow: var(--color-yellow);

$shadow: var(--shadow);
$shadow: var(--transition);
$radius: var(--radius);
