body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-white;
  color: $color-gray-lighter;
  @include flex-col;
}

.container {
  max-width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

section > .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

img {
  width: 100%;
}

.padding-t {
  padding-top: 6rem;
}

.padding-t-3 {
  padding-top: 3rem;
}

.spacing-b {
  padding-bottom: 6rem;
}

.push {
  margin-bottom: 1rem;
}

.push-4 {
  margin-bottom: 4rem;
}

.text-wrap {
  max-width: 45em;
}

.parent-styles {
  border: 0.25rem dashed #ccc;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid-3 {
  display: grid;
  gap: 1rem;

  @media only screen and (min-width: 38em) {
    grid-template-columns: repeat(3, 1fr);
  }
}
