html {
  font: normal 100%/1.5 Rubik, "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 
Standardizing some basic type styles across my website.
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0 0 1.3rem;
}

.text-light {
  color: $text-color-light;
}

.text-dark {
  color: $text-color-dark;
}

.link-light {
  display: inline-block;
  color: $text-color-light;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $text-color-hover-2;
    text-decoration: none;
  }
}

.link-dark {
  display: inline-block;
  color: $text-color-dark;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    color: $text-color-hover-1;
    text-decoration: none;
  }
}

.mr-0_5 {
  margin-right: 0.5rem;
}
